body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: white;
  line-height: 1.6;
}

header {
  text-align: center;
  padding: 80px 20px;
}

header span {
  color: #38bdf8;
}

section {
  max-width: 900px;
  margin: auto;
  padding: 40px 20px;
}

h2 {
  color: #38bdf8;
  margin-bottom: 20px;
}

.card {
  background: #1e293b;
  padding: 20px;
  margin-bottom: 15px;
  border-radius: 10px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

footer {
  text-align: center;
  padding: 20px;
  background: #020617;
}